:root{
    --white-color : #fff;
    --black-color : #000;
    --blue-color : #2d5b79;

    --padding-big : 50px;
    --padding-middle : 35px;
    --padding-small : 15px;
}
* {
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:var(--black-color);
}
li{
    list-style: none;
}
body{
    font-family: 'NotoSansKR', '맑은 고딕', 'Malgun Gothic', 돋움, Dotum, 'Apple SD Gothic Neo', sans-serif;
}
header{
    display: flex;
    padding: var(--padding-small) var(--padding-big);
    justify-content: space-between;
    align-items: center;
}

header .main-logo{
    display: inline-block;
    width:114px;
    height:53px;
    background: url(/images/sp_com.png) no-repeat -300px 0;
}

header .menu-list{
    display: flex;
}
header .side-menu-list{
    display: flex;
    font-size:14px;
    width:300px;
    justify-content: space-between;
}
header .menu-list > li{
    margin:0 var(--padding-middle);
    font-size:18px;
}
header .menu-list > li a{
    padding:var(--padding-small) 0;
}
header .menu-list > li a:hover{
    color:var(--blue-color);
    font-weight: bold;
    border-bottom: 2px solid var(--blue-color);
}

header .side-menu-list > li{
    font-size:14px;
}

header .side-menu-list > li :hover{
    text-decoration-line: underline;
}
.sub-list{
    display: none;
}
.main-view{
    margin:0 var(--padding-big);
    width:100%;
    height:690px;
    background: url(http://www.hansolhomedeco.co.kr/img/main/bg_main03.jpg) no-repeat 0 0;
}